In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.24.3
2.0.3

# Exercício 1: Criando um conjunto de dados

In [2]:
id = ["tic18Py06799","tic18Py07100","tic18Py05996","tic18Py07799","tic18Py08099"]
idade = [24,23,27,24,24]
formacao = [3,2,1,2,2]
formacaoGeral = [1,0,0,0,0]
formarcaoEspecifica = ["Ciência da Computação","Engenharia Elétrica","Engenharia Química","Engenharia Química","Engenharia Química"]
andamentoGraduacao = [None,90.16,81.38,76.94,75.58]
tempoFormacao = [1,None,None,None,None]
experienciaPrevia = [True,True,True,True,True]

# Exercício 2: Trabalhando com Series

In [3]:
index = pd.Index(id)
idadeS = pd.Series(idade,index=index)
formacaoS = pd.Series(formacao,index=index)
formacaoGeralS = pd.Series(formacaoGeral,index=index)
formacaoEspecificaS = pd.Series(formarcaoEspecifica,index=index)
andamentoGraducaoS = pd.Series(andamentoGraduacao,index=index)
tempoFormacaoS = pd.Series(tempoFormacao,index=index)
experienciaPreviaS = pd.Series(experienciaPrevia,index=index)

In [4]:
print("idade media =",idadeS.mean())
minIdade = idadeS.idxmin()
maxIdade = idadeS.idxmax()
print("idade minima = ",idadeS[minIdade], "pertencente a", minIdade)
print("idade maxima = ",idadeS[maxIdade], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [5]:
contagem = formacaoS.value_counts()
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

Tecnicos = 1
Graduandos =  4
Graduados =  1

In [6]:
contagem = formacaoGeralS.value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

Computação = 1
Engenharia =  4

Exercício 3: Trabalhando com DataFrames

In [7]:
dadosDic = {'Idade':idade,
            'Formação':formacao,
            'Formação Geral':formacaoGeral,
            'Formação Específica':formarcaoEspecifica,
            'Andamento da Graduação':andamentoGraduacao,
            'Tempo de Formação':tempoFormacao,
            'Experiencia com Programação':experienciaPrevia}
tic18 = pd.DataFrame(dadosDic,index=id)
tic18

,Idade,Formação,Formação Geral,Formação Específica,Andamento da Graduação,Tempo de Formação,Experiencia com Programação
tic18Py06799,24,3,1,Ciência da Computação,NaN,1.0,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.16,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True

### Tratamento de Dados faltando

O dados faltando podem ser lidados com uma filtragem dos mesmos para a realização de calculos como apresentado abaixo

In [8]:
#media do andamento de graduação

tic18.loc[:,'Andamento da Graduação'].dropna().mean()

81.015

In [9]:

print("idade media =",tic18.loc[:,'Idade'].mean())
minIdade = tic18.loc[:,'Idade'].idxmin()
maxIdade = tic18.loc[:,'Idade'].idxmax()
print("idade minima = ",tic18.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",tic18.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [10]:

print("idade media =",tic18.loc[:,'Idade'].mean())
minIdade = tic18.loc[:,'Idade'].idxmin()
maxIdade = tic18.loc[:,'Idade'].idxmax()
print("idade minima = ",tic18.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",tic18.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [11]:
contagem = tic18.loc[:,'Formação'].value_counts()
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

Tecnicos = 1
Graduandos =  4
Graduados =  1

In [12]:
contagem = tic18.loc[:,'Formação Geral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

Computação = 1
Engenharia =  4

### Tratamento de Dados da Formação especifica

O campo de formação expecifica, se preenchido pelo usuario, pode gerar diversas inconsitencias. As duas possiveis soluções são: ter um banco de dados com os nomes de cada formação especifica possivel, e fazer o usuario selecionar uma delas, contudo pode gerar o problema das opções disponiveis não conteplarem a formação do usuario, uma possivel solução é caso o usuario não encontre sua formação especifica é pela interação com o usuario adicionar uma nova formação

In [13]:

formações = ['engenharia elétrica','engenharia química','engenharia mecanica','ciencia da computação']
for i,formacao in enumerate(formações):
    print(str(i)+" - "+str(formacao))
print("digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)")
print()
try:
    indice = int(input())
except:
    print("valor invalido")

formacao = None

if indice>-1 and indice<len(formações):
    if indice!=-1:
        formacao = formações[indice]
    else:
        print("digite o nome da nova formação")
        novaFormação = input().lower()
        formacao = novaFormação
        formações.append(novaFormação)
else:
    print("valor invalido")

print("formacao = ",formacao)

0 - engenharia elétrica
1 - engenharia química
2 - engenharia mecanica
3 - ciencia da computação
digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)

formacao =  engenharia mecanica

# Exercício 4: Trabalhando com MultiIndex

In [14]:
tic18Py = [["tic18Py06799",24,3,1,"Ciência da Computação",None,1,True],
           ["tic18Py07100",23,2,0,"Engenharia Elétrica",90.16,None,True],
           ["tic18Py05996",27,1,0,"Engenharia Química",81.38,None,True],
           ["tic18Py07799",24,1,0,"Engenharia Química",76.94,None,True],
           ["tic18Py08099",24,1,0,"Engenharia Química",75.58,None,True]]



tic18Net = [["tic18Net08200",23,1,1,"Ciência da Computação",66.00,None,True],
            ["tic18Net86001",22,1,1,"Ciência da Computação",66.00,None,True],
            ["tic18Net05999",24,2,0,"Engenharia Elétrica",99.00,None,True]]



tic18Jav = [["tic18Jav06894",29,2,1,"Análise e Desenvolvimento de Sistemas",78.00,None,False],
            ["tic18Jav06200",23,2,0,"Engenharia Elétrica",72.00,None,False],
            ["tic18Jav86399",24,2,0,"Engenharia Química",70.16,None,False],
            ["tic18Jav05594",29,3,0,"Engenharia Mecânica",None,4,False],
            ["tic18Jav05800",23,2,0,"Engenharia Química",80.00,None,False]]

colunas = ['identificacao','idade','formacao','formacaoGeral','formacaoEspecifica','andamentoGraduacao','tempoFormacao','experienciaProgramacao']

tic18Py = pd.DataFrame(tic18Py,columns=colunas)
tic18Net = pd.DataFrame(tic18Net,columns=colunas)
tic18Jav = pd.DataFrame(tic18Jav,columns=colunas)
tic18Py['trilha'] = 'Python'
tic18Net['trilha'] = '.Net'
tic18Jav['trilha'] = 'Java'
tic18 = pd.concat([tic18Py,tic18Net,tic18Jav])

In [15]:

tic18.set_index(['trilha','identificacao'],inplace=True)
tic18

                      idade  formacao  formacaoGeral  \
trilha identificacao
Python tic18Py06799      24         3              1
       tic18Py07100      23         2              0
       tic18Py05996      27         1              0
       tic18Py07799      24         1              0
       tic18Py08099      24         1              0
.Net   tic18Net08200     23         1              1
       tic18Net86001     22         1              1
       tic18Net05999     24         2              0
Java   tic18Jav06894     29         2              1
       tic18Jav06200     23         2              0
       tic18Jav86399     24         2              0
       tic18Jav05594     29         3              0
       tic18Jav05800     23         2              0

                                         formacaoEspecifica  \
trilha identificacao
Python tic18Py06799                   Ciência da Computação
       tic18Py07100                     Engenharia Elétrica
       tic18Py05996                      Engenharia Química
       tic18Py07799                      Engenharia Química
       tic18Py08099                      Engenharia Química
.Net   tic18Net08200                  Ciência da Computação
       tic18Net86001                  Ciência da Computação
       tic18Net05999                    Engenharia Elétrica
Java   tic18Jav06894  Análise e Desenvolvimento de Sistemas
       tic18Jav06200                    Engenharia Elétrica
       tic18Jav86399                     Engenharia Química
       tic18Jav05594                    Engenharia Mecânica
       tic18Jav05800                     Engenharia Química

                      andamentoGraduacao tempoFormacao  experienciaProgramacao
trilha identificacao
Python tic18Py06799                  NaN           1.0                    True
       tic18Py07100                90.16           NaN                    True
       tic18Py05996                81.38           NaN                    True
       tic18Py07799                76.94           NaN                    True
       tic18Py08099                75.58           NaN                    True
.Net   tic18Net08200               66.00          None                    True
       tic18Net86001               66.00          None                    True
       tic18Net05999               99.00          None                    True
Java   tic18Jav06894               78.00           NaN                   False
       tic18Jav06200               72.00           NaN                   False
       tic18Jav86399               70.16           NaN                   False
       tic18Jav05594                 NaN           4.0                   False
       tic18Jav05800               80.00           NaN                   False

In [16]:
print("\ntrilha PYTHON")
print("idade media =",tic18.loc['Python', 'idade'].mean())
minIdade = tic18.loc['Python', 'idade'].idxmin()
maxIdade = tic18.loc['Python', 'idade'].idxmax()
print("idade minima = ",tic18.loc[('Python',minIdade),'idade'], "pertencente a", minIdade)
print("idade maxima = ",tic18.loc[('Python',maxIdade),'idade'], "pertencente a", maxIdade)
print("\ntrilha .NET")
print("idade media =",tic18.loc['.Net', 'idade'].mean())
minIdade = tic18.loc['.Net', 'idade'].idxmin()
maxIdade = tic18.loc['.Net', 'idade'].idxmax()
print("idade minima = ",tic18.loc[('.Net',minIdade),'idade'], "pertencente a", minIdade)
print("idade maxima = ",tic18.loc[('.Net',maxIdade),'idade'], "pertencente a", maxIdade)
print("\ntrilha JAVA")
print("idade media =",tic18.loc['Java', 'idade'].mean())
minIdade = tic18.loc['Java', 'idade'].idxmin()
maxIdade = tic18.loc['Java', 'idade'].idxmax()
print("idade minima = ",tic18.loc[('Java',minIdade),'idade'], "pertencente a", minIdade)
print("idade maxima = ",tic18.loc[('Java',maxIdade),'idade'], "pertencente a", maxIdade)

trilha PYTHON
idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

trilha .NET
idade media = 23.0
idade minima =  22 pertencente a tic18Net86001
idade maxima =  24 pertencente a tic18Net05999

trilha JAVA
idade media = 25.6
idade minima =  23 pertencente a tic18Jav06200
idade maxima =  29 pertencente a tic18Jav06894

In [17]:
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
print("\ntrilha PYTHON")
contagem = tic18.loc['Python', 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

print("\ntrilha .NET")
contagem = tic18.loc['.Net', 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

print("\ntrilha JAVA")
contagem = tic18.loc['Java', 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

trilha PYTHON
Tecnicos = 3
Graduandos =  4
Graduados =  1

trilha .NET
Tecnicos = 2
Graduandos =  3
Graduados =  0

trilha JAVA
Tecnicos = 0
Graduandos =  4
Graduados =  1

In [18]:
print("\ntrilha PYTHON")
contagem = tic18.loc['Python', 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

print("\ntrilha .NET")
contagem = tic18.loc['.Net', 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

print("\ntrilha JAVA")
contagem = tic18.loc['Java', 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

trilha PYTHON
Computação = 1
Engenharia =  4

trilha .NET
Computação = 2
Engenharia =  1

trilha JAVA
Computação = 1
Engenharia =  4