In [124]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.24.3
2.0.3

# Exercício 1: Criando um conjunto de dados

In [125]:
id = ["tic18Py06799","tic18Py07100","tic18Py05996","tic18Py07799","tic18Py08099"]
idade = [24,23,27,24,24]
formacao = [3,2,1,2,2]
formacaoGeral = [1,0,0,0,0]
formarcaoEspecifica = ["Ciência da Computação","Engenharia Elétrica","Engenharia Química","Engenharia Química","Engenharia Química"]
andamentoGraduacao = [None,90.16,81.38,76.94,75.58]
tempoFormacao = [1,None,None,None,None]
experienciaPrevia = [True,True,True,True,True]

# Exercício 2: Trabalhando com Series

In [126]:
index = pd.Index(id)
idadeS = pd.Series(idade,index=index)
formacaoS = pd.Series(formacao,index=index)
formacaoGeralS = pd.Series(formacaoGeral,index=index)
formacaoEspecificaS = pd.Series(formarcaoEspecifica,index=index)
andamentoGraducaoS = pd.Series(andamentoGraduacao,index=index)
tempoFormacaoS = pd.Series(tempoFormacao,index=index)
experienciaPreviaS = pd.Series(experienciaPrevia,index=index)

In [127]:
print("idade media =",idadeS.mean())
minIdade = idadeS.idxmin()
maxIdade = idadeS.idxmax()
print("idade minima = ",idadeS[minIdade], "pertencente a", minIdade)
print("idade maxima = ",idadeS[maxIdade], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [128]:
contagem = formacaoS.value_counts()
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

Tecnicos = 1
Graduandos =  4
Graduados =  1

In [129]:
contagem = formacaoGeralS.value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

Computação = 1
Engenharia =  4

Exercício 3: Trabalhando com DataFrames

In [130]:
dadosDic = {'Idade':idade,
            'Formação':formacao,
            'Formação Geral':formacaoGeral,
            'Formação Específica':formarcaoEspecifica,
            'Andamento da Graduação':andamentoGraduacao,
            'Tempo de Formação':tempoFormacao,
            'Experiencia com Programação':experienciaPrevia}
df = pd.DataFrame(dadosDic,index=id)
df

,Idade,Formação,Formação Geral,Formação Específica,Andamento da Graduação,Tempo de Formação,Experiencia com Programação
tic18Py06799,24,3,1,Ciência da Computação,NaN,1.0,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.16,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True

### Tratamento de Dados faltando

O dados faltando podem ser lidados com uma filtragem dos mesmos para a realização de calculos como apresentado abaixo

In [131]:
#media do andamento de graduação

df.loc[:,'Andamento da Graduação'].dropna().mean()

81.015

In [132]:

print("idade media =",df.loc[:,'Idade'].mean())
minIdade = df.loc[:,'Idade'].idxmin()
maxIdade = df.loc[:,'Idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",df.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [133]:

print("idade media =",df.loc[:,'Idade'].mean())
minIdade = df.loc[:,'Idade'].idxmin()
maxIdade = df.loc[:,'Idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",df.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [134]:
contagem = df.loc[:,'Formação'].value_counts()
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

Tecnicos = 1
Graduandos =  4
Graduados =  1

In [135]:
contagem = df.loc[:,'Formação Geral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

Computação = 1
Engenharia =  4

### Tratamento de Dados da Formação especifica

O campo de formação expecifica, se preenchido pelo usuario, pode gerar diversas inconsitencias. As duas possiveis soluções são: ter um banco de dados com os nomes de cada formação especifica possivel, e fazer o usuario selecionar uma delas, contudo pode gerar o problema das opções disponiveis não conteplarem a formação do usuario, uma possivel solução é caso o usuario não encontre sua formação especifica é pela interação com o usuario adicionar uma nova formação

In [136]:

formações = ['engenharia elétrica','engenharia química','engenharia mecanica','ciencia da computação']
for i,formacao in enumerate(formações):
    print(str(i)+" - "+str(formacao))
print("digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)")
print()
try:
    indice = int(input())
except:
    print("valor invalido")

formacao = None

if indice>-1 and indice<len(formações):
    if indice!=1:
        formacao = formações[indice]
    else:
        print("digite o nome da nova formação")
        novaFormação = input().lower()
        formacao = novaFormação
        formações.append(novaFormação)
else:
    print("valor invalido")

print("formacao = ",formacao)

0 - engenharia elétrica
1 - engenharia química
2 - engenharia mecanica
3 - ciencia da computação
digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)

formacao =  engenharia mecanica

# Exercício 4: Trabalhando com MultiIndex

In [137]:
tic18Py = [["06799","tic18Py",24,3,1,"Ciência da Computação",None,1,True],
           ["07100","tic18Py",23,2,0,"Engenharia Elétrica",90.16,None,True],
           ["05996","tic18Py",27,1,0,"Engenharia Química",81.38,None,True],
           ["07799","tic18Py",24,1,0,"Engenharia Química",76.94,None,True],
           ["08099","tic18Py",24,1,0,"Engenharia Química",75.58,None,True]]

tic18Net = [["08200","tic18Net",23,1,1,"Ciência da Computação",66.00,None,True],
            ["86001","tic18Net",22,1,1,"Ciência da Computação",66.00,None,True],
            ["05999","tic18Net",24,2,0,"Engenharia Elétrica",99.00,None,True]]

tic18Jav = [["06894","tic18Jav",29,2,1,"Análise e Desenvolvimento de Sistemas",78.00,None,False],
            ["06200","tic18Jav",23,2,0,"Engenharia Elétrica",72.00,None,False],
            ["86399","tic18Jav",24,2,0,"Engenharia Química",70.16,None,False],
            ["05594","tic18Jav",29,3,0,"Engenharia Mecânica",None,4,False],
            ["05800","tic18Jav",23,2,0,"Engenharia Química",80.00,None,False]]

colunas = ['identificacao','trilha','idade','formacao','formacaoGeral','formacaoEspecifica','andamentoGraduacao','tempoFormacao','experienciaProgramacao']

In [138]:
df = pd.DataFrame(tic18Py+tic18Net+tic18Jav,columns=colunas)
df.set_index(colunas[0:2],inplace=True)
df

,,idade,formacao,formacaoGeral,formacaoEspecifica,andamentoGraduacao,tempoFormacao,experienciaProgramacao
identificacao,trilha,,,,,,,
06799,tic18Py,24,3,1,Ciência da Computação,NaN,1.0,True
07100,tic18Py,23,2,0,Engenharia Elétrica,90.16,NaN,True
05996,tic18Py,27,1,0,Engenharia Química,81.38,NaN,True
07799,tic18Py,24,1,0,Engenharia Química,76.94,NaN,True
08099,tic18Py,24,1,0,Engenharia Química,75.58,NaN,True
08200,tic18Net,23,1,1,Ciência da Computação,66.00,NaN,True
86001,tic18Net,22,1,1,Ciência da Computação,66.00,NaN,True
05999,tic18Net,24,2,0,Engenharia Elétrica,99.00,NaN,True
06894,tic18Jav,29,2,1,Análise e Desenvolvimento de Sistemas,78.00,NaN,False
06200,tic18Jav,23,2,0,Engenharia Elétrica,72.00,NaN,False
86399,tic18Jav,24,2,0,Engenharia Química,70.16,NaN,False
05594,tic18Jav,29,3,0,Engenharia Mecânica,NaN,4.0,False
05800,tic18Jav,23,2,0,Engenharia Química,80.00,NaN,False

In [139]:
print("\ntrilha PYTHON")
print("idade media =",df.loc[pd.IndexSlice[:, 'tic18Py'], 'idade'].mean())
minIdade = df.loc[pd.IndexSlice[:, 'tic18Py'], 'idade'].idxmin()
maxIdade = df.loc[pd.IndexSlice[:, 'tic18Py'], 'idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'idade'], "pertencente a", minIdade[0])
print("idade maxima = ",df.loc[maxIdade,'idade'], "pertencente a", maxIdade[0])
print("\ntrilha .NET")
print("idade media =",df.loc[pd.IndexSlice[:, 'tic18Net'], 'idade'].mean())
minIdade = df.loc[pd.IndexSlice[:, 'tic18Net'], 'idade'].idxmin()
maxIdade = df.loc[pd.IndexSlice[:, 'tic18Net'], 'idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'idade'], "pertencente a", minIdade[0])
print("idade maxima = ",df.loc[maxIdade,'idade'], "pertencente a", maxIdade[0])
print("\ntrilha JAVA")
print("idade media =",df.loc[pd.IndexSlice[:, 'tic18Jav'], 'idade'].mean())
minIdade = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'idade'].idxmin()
maxIdade = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'idade'], "pertencente a", minIdade[0])
print("idade maxima = ",df.loc[maxIdade,'idade'], "pertencente a", maxIdade[0])

trilha PYTHON
idade media = 24.4
idade minima =  23 pertencente a 07100
idade maxima =  27 pertencente a 05996

trilha .NET
idade media = 23.0
idade minima =  22 pertencente a 86001
idade maxima =  24 pertencente a 05999

trilha JAVA
idade media = 25.6
idade minima =  23 pertencente a 06200
idade maxima =  29 pertencente a 06894

In [140]:
#Alunos com o perfil 1, contam tanto como tecnicos quanto como graduandos
print("\ntrilha PYTHON")
contagem = df.loc[pd.IndexSlice[:, 'tic18Py'], 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

print("\ntrilha .NET")
contagem = df.loc[pd.IndexSlice[:, 'tic18Net'], 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

print("\ntrilha JAVA")
contagem = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'formacao'].value_counts()
tecnicos = contagem.get(0,0)+contagem.get(1,0)
graduandos = contagem.get(1,0)+contagem.get(2,0)
graduados = contagem.get(3,0)
print("Tecnicos =",tecnicos)
print("Graduandos = ",graduandos)
print("Graduados = ", graduados)

trilha PYTHON
Tecnicos = 3
Graduandos =  4
Graduados =  1

trilha .NET
Tecnicos = 2
Graduandos =  3
Graduados =  0

trilha JAVA
Tecnicos = 0
Graduandos =  4
Graduados =  1

In [141]:
print("\ntrilha PYTHON")
contagem = df.loc[pd.IndexSlice[:, 'tic18Py'], 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

print("\ntrilha .NET")
contagem = df.loc[pd.IndexSlice[:, 'tic18Net'], 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

print("\ntrilha JAVA")
contagem = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'formacaoGeral'].value_counts()
computacao = contagem.get(1,0)
engenharia = contagem.get(0,0)
print("Computação =",computacao)
print("Engenharia = ",engenharia)

trilha PYTHON
Computação = 1
Engenharia =  4

trilha .NET
Computação = 2
Engenharia =  1

trilha JAVA
Computação = 1
Engenharia =  4