Exercício 1: Conjunto de dados

In [112]:
identificador = ['tic18Py06799','tic18Py07100','tic18Py05996','tic18Py07799', 'tic18Py08099']
idade = [24, 23, 27, 24, 24]
formação = [3, 2, 1, 2, 2]
formaçãoGeral = [1, 0, 0, 0, 0]
formaçãoEspecífica = ['Ciência da computação', 'Engenharia Elétrica', 'Engenharia Química', 'Engenharia Química', 'Engenharia Química' ]
andamentoGraduação = [None, 90.6, 81.38, 76.94, 75.58]
tempoFormação = [1, None, None, None, None]
experiênciaPrevia = [True, True, True, True, True]

Exercício 2: Séries

In [113]:
import numpy as np
import pandas as pd
print(np.__version__ )
print(pd.__version__ )

1.24.3
2.0.3

Idade média dos membros da equipe, membros mais jovens e membros mais velhos.

In [114]:
indice = pd.Index(identificador)
serie = pd.Series(idade, index = indice)
idadeMedia = serie.mean()
print("Idade Media: ", idadeMedia)
idadeMinima = serie.min()
print("Idade Mínima: ", idadeMinima)
indiceMinimo = serie.idxmin()
print("Residente de menor idade: ", indiceMinimo)
idadeMax = serie.max()
print("Idade Máxima: ", idadeMax)
indiceMinimo = serie.idxmax()
print("Residente de maior idade: ", indiceMinimo)

Idade Media:  24.4
Idade Mínima:  23
Residente de menor idade:  tic18Py07100
Idade Máxima:  27
Residente de maior idade:  tic18Py05996

Perfil de formação

In [115]:
serieFormacao = pd.Series(formação)
contagemFormacao = serieFormacao.value_counts()
formacaoPredominante = contagemFormacao.idxmax()
print('A formação predominante é:', formacaoPredominante)
contagemFormacao[formacaoPredominante]
print('A quantidade de membros no perfil predominante é:', contagemFormacao[formacaoPredominante])

A formação predominante é: 2
A quantidade de membros no perfil predominante é: 3

Formação geral

In [116]:
serieFormacaoGeral = pd.Series(formaçãoGeral)
contagemFormacaoGeral =  serieFormacaoGeral.value_counts()
formacaoGeralPredominante = contagemFormacaoGeral.idxmax()
contagemFormacaoGeral[formacaoGeralPredominante]
print('A formação geral predominante é:', formacaoGeralPredominante,', com quantidade :', contagemFormacaoGeral[formacaoGeralPredominante])

A formação geral predominante é: 0 , com quantidade : 4

Exercício 3: DataFrames

In [117]:
Dados = pd.DataFrame({'Idade': idade,
                      'Formacao': formação,
                      'FormacaoGeral': formaçãoGeral,
                      'FormacaoEspecifica': formaçãoEspecífica,
                      'AndamentoGraduacao': andamentoGraduação,
                      'TempoFormacao': tempoFormação,
                      'ExperienciaPrevia': experiênciaPrevia}, index = indice)
Dados

,Idade,Formacao,FormacaoGeral,FormacaoEspecifica,AndamentoGraduacao,TempoFormacao,ExperienciaPrevia
tic18Py06799,24,3,1,Ciência da computação,NaN,1.0,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.60,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True

Exercício anterior com os dados do DataFrame

In [118]:
idadeMedia = Dados['Idade'].mean()
print("Idade Média:", idadeMedia)

idadeMaxima = Dados['Idade'].max()
print("Idade Máxima:", idadeMaxima)

idadeMinima = Dados['Idade'].min()
print("Idade Mínima:", idadeMinima)

Idade Média: 24.4
Idade Máxima: 27
Idade Mínima: 23

In [119]:
contagemFormacao = Dados['Formacao'].value_counts()
formacaoPredominante = contagemFormacao.idxmax()
print("Formação Predominante:", formacaoPredominante)
print("Quantidade: ", contagemFormacao.max())

Formação Predominante: 2
Quantidade:  3

In [120]:
contagemFormacaoGeral = Dados['FormacaoGeral'].value_counts()
engenharia = contagemFormacaoGeral.get(0,0)
computação = contagemFormacaoGeral.get(1,0)
print("Engenheiros:", engenharia)
print("Computação:", computação)
if (engenharia > computação):
    print("equipe formada majoritariamente por engenheiros")
elif(engenharia < computação):
    print("equipe formada majoritariamente por cientistas da computação")
else:
    print("Quantidade igual de engenheiros e cientistas da computação")

Engenheiros: 4
Computação: 1
equipe formada majoritariamente por engenheiros

Tratamento dos dados de formação específica

In [121]:
agrupamento = {
    'comp': 'Ciência da Computação',
    'cc': 'Ciência da Computação',
    'eng elétrica': 'Engenharia Elétrica',
    'eng elétr': 'Engenharia Elétrica',
    'eng. el.': 'Engenharia Elétrica',
    'eng el': 'Engenharia Elétrica',
    'eng quím': 'Engenharia Química',
    'eng quim': 'Engenharia Química',
    'eng. quim': 'Engenharia Química',
    'engenharia q': 'Engenharia Química',
    'eng mec': 'Engenharia Mecânica',
    'eng. mec': 'Engenharia Mecânica'
    
}
for abreviacao, categoria in agrupamento.items():
    Dados['FormacaoEspecifica'] = Dados['FormacaoEspecifica'].replace(fr'\b{abreviacao}\b', categoria, regex=True)

Dados['FormacaoEspecifica']

tic18Py06799    Ciência da computação
tic18Py07100      Engenharia Elétrica
tic18Py05996       Engenharia Química
tic18Py07799       Engenharia Química
tic18Py08099       Engenharia Química
Name: FormacaoEspecifica, dtype: object

Exercício 4: MultiIndex

Dados "Java"

In [122]:
identificador = ["tic18Jav08200", "tic18Jav86059", "tic18Jav05999"]
idadeJava = [23, 22, 24]
formaçãoJava = [1, 1, 2]
formaçãoGeralJava = [1, 1, 0]
formaçãoEspecíficaJava = ["Ciência da Computação", "Ciência da Computação", "Engenharia Elétrica"]
andamentoGraduaçãoJava = [66, 66, 99]
tempoFormaçãoJava = [None, None, None]
experiênciaPreviaJava = [True, True, True]

indiceJava = pd.Index(identificador)


DadosJava = pd.DataFrame({'Idade': idadeJava,
                      'Formacao': formaçãoJava,
                      'FormacaoGeral': formaçãoGeralJava,
                      'FormacaoEspecifica': formaçãoEspecíficaJava,
                      'AndamentoGraduacao': andamentoGraduaçãoJava,
                      'TempoFormacao': tempoFormaçãoJava,
                      'ExperienciaPrevia': experiênciaPreviaJava}, index = indiceJava)
DadosJava

,Idade,Formacao,FormacaoGeral,FormacaoEspecifica,AndamentoGraduacao,TempoFormacao,ExperienciaPrevia
tic18Jav08200,23,1,1,Ciência da Computação,66,None,True
tic18Jav86059,22,1,1,Ciência da Computação,66,None,True
tic18Jav05999,24,2,0,Engenharia Elétrica,99,None,True

Dados ".NET"

In [123]:
identificador = ["tic18Net06894", "tic18Net06200", "tic18Net86399", "tic18Net05594", "tic18Net05800"]
idadeDotNet = [29, 23, 24, 29, 23]
formacaoDotNet = [3, 2, 2, 3, 2]
formacaoGeralDotNet = [1, 0, 0, 0, 0]
formacaoEspecificaDotNet = ["Análise e Desenvolvimento", "Engenharia Química", "Engenharia Química", "Engenharia Mecânica", "Engenharia Química"]
andamentoGraduacaoDotNet = [78, 72, 70.16, None, 80]
tempoFormacaoDotNet = [None, None, None, 4, None]
experienciaPreviaDotNet = [False, False, False, False, False]

indiceDotNet = pd.Index(identificador)

DadosDotNet = pd.DataFrame({'Idade': idadeDotNet,
                      'Formacao': formacaoDotNet,
                      'FormacaoGeral': formacaoGeralDotNet,
                      'FormacaoEspecifica': formacaoEspecificaDotNet,
                      'AndamentoGraduacao': andamentoGraduacaoDotNet,
                      'TempoFormacao': tempoFormacaoDotNet,
                      'ExperienciaPrevia': experienciaPreviaDotNet}, index = indiceDotNet)
DadosDotNet

,Idade,Formacao,FormacaoGeral,FormacaoEspecifica,AndamentoGraduacao,TempoFormacao,ExperienciaPrevia
tic18Net06894,29,3,1,Análise e Desenvolvimento,78.00,NaN,False
tic18Net06200,23,2,0,Engenharia Química,72.00,NaN,False
tic18Net86399,24,2,0,Engenharia Química,70.16,NaN,False
tic18Net05594,29,3,0,Engenharia Mecânica,NaN,4.0,False
tic18Net05800,23,2,0,Engenharia Química,80.00,NaN,False

utilizando o multindex

In [124]:
DadosDotNet['Trilha'] = '.Net'
DadosJava['Trilha'] = 'Java'
Dados['Trilha'] = 'Python'
novoDataFrame = pd.concat([Dados, DadosDotNet, DadosJava], keys=['Python', '.Net', 'Java'], names=['Trilha', 'identificador'])
novoDataFrame.drop(['Trilha'],axis=1,inplace=True)
novoDataFrame

                      Idade  Formacao  FormacaoGeral  \
Trilha identificador
Python tic18Py06799      24         3              1
       tic18Py07100      23         2              0
       tic18Py05996      27         1              0
       tic18Py07799      24         2              0
       tic18Py08099      24         2              0
.Net   tic18Net06894     29         3              1
       tic18Net06200     23         2              0
       tic18Net86399     24         2              0
       tic18Net05594     29         3              0
       tic18Net05800     23         2              0
Java   tic18Jav08200     23         1              1
       tic18Jav86059     22         1              1
       tic18Jav05999     24         2              0

                             FormacaoEspecifica  AndamentoGraduacao  \
Trilha identificador
Python tic18Py06799       Ciência da computação                 NaN
       tic18Py07100         Engenharia Elétrica               90.60
       tic18Py05996          Engenharia Química               81.38
       tic18Py07799          Engenharia Química               76.94
       tic18Py08099          Engenharia Química               75.58
.Net   tic18Net06894  Análise e Desenvolvimento               78.00
       tic18Net06200         Engenharia Química               72.00
       tic18Net86399         Engenharia Química               70.16
       tic18Net05594        Engenharia Mecânica                 NaN
       tic18Net05800         Engenharia Química               80.00
Java   tic18Jav08200      Ciência da Computação               66.00
       tic18Jav86059      Ciência da Computação               66.00
       tic18Jav05999        Engenharia Elétrica               99.00

                     TempoFormacao  ExperienciaPrevia
Trilha identificador
Python tic18Py06799            1.0               True
       tic18Py07100            NaN               True
       tic18Py05996            NaN               True
       tic18Py07799            NaN               True
       tic18Py08099            NaN               True
.Net   tic18Net06894           NaN              False
       tic18Net06200           NaN              False
       tic18Net86399           NaN              False
       tic18Net05594           4.0              False
       tic18Net05800           NaN              False
Java   tic18Jav08200          None               True
       tic18Jav86059          None               True
       tic18Jav05999          None               True

Caracterizando alunos de cada trilha

In [125]:
def perfilIdade(trilha,dataFrame):
    print("Trilha "+trilha)
    idadeMedia = dataFrame.loc[trilha,'Idade'].mean()
    print("Idade Média:", idadeMedia)

    idadeMaxima = dataFrame.loc[trilha,'Idade'].max()
    print("Idade Máxima:", idadeMaxima)

    idadeMinima = dataFrame.loc[trilha,'Idade'].min()
    print("Idade Mínima:", idadeMinima)
    
def tipoFormacaoMaj(trilha,dataFrame):
    contagemFormacao = dataFrame.loc[trilha,'Formacao'].value_counts()
    formacaoPredominante = contagemFormacao.idxmax()
    print("Trilha "+trilha)
    print("Formação Predominante:", formacaoPredominante)
    print("Quantidade: ", contagemFormacao.max())
    
def formacaoMaj(trilha,dataFrame):
    contagemFormacaoGeral = dataFrame.loc[trilha,'FormacaoGeral'].value_counts()
    engenharia = contagemFormacaoGeral.get(0,0)
    computação = contagemFormacaoGeral.get(1,0)
    print("Trilha "+trilha)
    print("Engenheiros:", engenharia)
    print("Computação:", computação)
    if (engenharia > computação):
        print("equipe formada majoritariamente por engenheiros")
    elif(engenharia < computação):
        print("equipe formada majoritariamente por cientistas da computação")
    else:
        print("Quantidade igual de engenheiros e cientistas da computação")

In [126]:
perfilIdade('Python',novoDataFrame)
print()
perfilIdade('.Net',novoDataFrame)
print()
perfilIdade('Java',novoDataFrame)

Trilha Python
Idade Média: 24.4
Idade Máxima: 27
Idade Mínima: 23

Trilha .Net
Idade Média: 25.6
Idade Máxima: 29
Idade Mínima: 23

Trilha Java
Idade Média: 23.0
Idade Máxima: 24
Idade Mínima: 22

In [127]:
tipoFormacaoMaj('Python',novoDataFrame)
print()
tipoFormacaoMaj('.Net',novoDataFrame)
print()
tipoFormacaoMaj('Java',novoDataFrame)

Trilha Python
Formação Predominante: 2
Quantidade:  3

Trilha .Net
Formação Predominante: 2
Quantidade:  3

Trilha Java
Formação Predominante: 1
Quantidade:  2

In [128]:
formacaoMaj('Python',novoDataFrame)
print()
formacaoMaj('.Net',novoDataFrame)
print()
formacaoMaj('Java',novoDataFrame)

Trilha Python
Engenheiros: 4
Computação: 1
equipe formada majoritariamente por engenheiros

Trilha .Net
Engenheiros: 4
Computação: 1
equipe formada majoritariamente por engenheiros

Trilha Java
Engenheiros: 1
Computação: 2
equipe formada majoritariamente por cientistas da computação