Exercício 1: Conjunto de dados

In [2]:
identificador = ['tic18Py06799','tic18Py07100','tic18Py05996','tic18Py07799', 'tic18Py08099']
idade = [24, 23, 27, 24, 24]
formação = [3, 2, 1, 2, 2]
formaçãoGeral = [1, 0, 0, 0, 0]
formaçãoEspecífica = ['Ciência da computação', 'Engenharia Elétrica', 'Engenharia Química', 'Engenharia Química', 'Engenharia Química' ]
andamentoGraduação = [None, 90.6, 81.38, 76.94, 75.58]
tempoFormação = [1, None, None, None, None]
experiênciaPrevia = [True, True, True, True, True]

Exercício 2: Séries

In [3]:
import numpy as np
import pandas as pd
print(np.__version__ )
print(pd.__version__ )

1.24.3
2.0.3

Idade média dos membros da equipe, membros mais jovens e membros mais velhos.

In [17]:
indice = pd.Index(identificador)
serie = pd.Series(idade, index = indice)
idadeMedia = serie.mean()
print("Idade Media: ", idadeMedia)
idadeMinima = serie.min()
print("Idade Mínima: ", idadeMinima)
indiceMinimo = serie.idxmin()
print("Residente de menor idade: ", indiceMinimo)
idadeMax = serie.max()
print("Idade Máxima: ", idadeMax)
indiceMinimo = serie.idxmax()
print("Residente de maior idade: ", indiceMinimo)

Idade Media:  24.4
Idade Mínima:  23
Residente de menor idade:  tic18Py07100
Idade Máxima:  27
Residente de maior idade:  tic18Py05996

Perfil de formação

In [27]:
serieFormacao = pd.Series(formação)
contagemFormacao = serieFormacao.value_counts()
formacaoPredominante = contagemFormacao.idxmax()
print('A formação predominante é:', formacaoPredominante)
contagemFormacao[formacaoPredominante]
print('A quantidade de membros no perfil predominante é:', contagemFormacao[formacaoPredominante])

A formação predominante é: 2
A quantidade de membros no perfil predominante é: 3

Formação geral

In [32]:
serieFormacaoGeral = pd.Series(formaçãoGeral)
contagemFormacaoGeral =  serieFormacaoGeral.value_counts()
formacaoGeralPredominante = contagemFormacaoGeral.idxmax()
contagemFormacaoGeral[formacaoGeralPredominante]
print('A formação geral predominante é:', formacaoGeralPredominante,', com quantidade :', contagemFormacaoGeral[formacaoGeralPredominante])

A formação geral predominante é: 0 , com quantidade : 4

Exercício 3: DataFrames

In [46]:
Dados = pd.DataFrame({'Idade': idade,'Formacao': formação,'FormacaoGeral': formaçãoGeral,'FormacaoEspecifica': formaçãoEspecífica,'AndamentoGraduacao': andamentoGraduação,'TempoFormacao': tempoFormação,'ExperienciaPrevia': experiênciaPrevia}, index = indice)
Dados

,Idade,Formacao,FormacaoGeral,FormacaoEspecifica,AndamentoGraduacao,TempoFormacao,ExperienciaPrevia
tic18Py06799,24,3,1,Ciência da computação,NaN,1.0,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.60,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True