In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.26.2
2.1.4

# Exercício 1: Criando um conjunto de dados

In [2]:
id = ["tic18Py06799","tic18Py07100","tic18Py05996","tic18Py07799","tic18Py08099"]
idade = [24,23,27,24,24]
formacao = [3,2,1,2,2]
formacaoGeral = [1,0,0,0,0]
formarcaoEspecifica = ["Ciência da Computação","Engenharia Elétrica","Engenharia Química","Engenharia Química","Engenharia Química"]
andamentoGraduacao = [None,90.16,81.38,76.94,75.58]
tempoFormacao = [1,None,None,None,None]
experienciaPrevia = [True,True,True,True,True]

# Exercício 2: Trabalhando com Series

In [3]:
index = pd.Index(id)
idadeS = pd.Series(idade,index=index)
formacaoS = pd.Series(formacao,index=index)
formacaoGeralS = pd.Series(formacaoGeral,index=index)
formacaoEspecificaS = pd.Series(formarcaoEspecifica,index=index)
andamentoGraducaoS = pd.Series(andamentoGraduacao,index=index)
tempoFormacaoS = pd.Series(tempoFormacao,index=index)
experienciaPreviaS = pd.Series(experienciaPrevia,index=index)

In [4]:
print("idade media =",idadeS.mean())
minIdade = idadeS.idxmin()
maxIdade = idadeS.idxmax()
print("idade minima = ",idadeS[minIdade], "pertencente a", minIdade)
print("idade maxima = ",idadeS[maxIdade], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

Criando funções auxiliares

In [5]:
def getFormacao(val):
    match(val):
        case 0: return "Formação técnica"
        case 1: return "Formação técnica graduação em andamento"
        case 2: return "Graduação em andamento"
        case 3: return "Graduação concluída"

def getFormacaoGeral(val):
    if(val == 0):
        return "Engenharia"
    else:
        return "Computação"

In [6]:
perfilFormacaoS = formacaoS.mode()

print("O perfil de formação predominante na équipe é: ", getFormacao(perfilFormacaoS.values))

O perfil de formação predominante na équipe é:  Graduação em andamento

In [7]:
perfilFormacaoGeralS = formacaoGeralS.mode()
print("A equipe é formada maioritariamente por alunos da área de", getFormacaoGeral(perfilFormacaoGeralS.values))

A equipe é formada maioritariamente por alunos da área de Engenharia

Exercício 3: Trabalhando com DataFrames

In [8]:
dadosDic = {'Idade':idade,
            'Formação':formacao,
            'Formação Geral':formacaoGeral,
            'Formação Específica':formarcaoEspecifica,
            'Andamento da Graduação':andamentoGraduacao,
            'Tempo de Formação':tempoFormacao,
            'Experiencia com Programação':experienciaPrevia}
df = pd.DataFrame(dadosDic,index=id)
df

,Idade,Formação,Formação Geral,Formação Específica,Andamento da Graduação,Tempo de Formação,Experiencia com Programação
tic18Py06799,24,3,1,Ciência da Computação,NaN,1.0,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.16,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True

### Tratamento de Dados faltando

O dados faltando podem ser lidados com uma filtragem dos mesmos para a realização de calculos como apresentado abaixo

In [9]:
#media do andamento de graduação

df.loc[:,'Andamento da Graduação'].dropna().mean()

81.015

In [10]:

print("idade media =",df.loc[:,'Idade'].mean())
minIdade = df.loc[:,'Idade'].idxmin()
maxIdade = df.loc[:,'Idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",df.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [11]:
print("idade media =",df.loc[:,'Idade'].mean())
minIdade = df.loc[:,'Idade'].idxmin()
maxIdade = df.loc[:,'Idade'].idxmax()
print("idade minima = ",df.loc[minIdade,'Idade'], "pertencente a", minIdade)
print("idade maxima = ",df.loc[maxIdade,'Idade'], "pertencente a", maxIdade)

idade media = 24.4
idade minima =  23 pertencente a tic18Py07100
idade maxima =  27 pertencente a tic18Py05996

In [12]:
perfilFormacaoDF = df.loc[:]["Formação"].mode()
print("O perfil de formação predominante na équipe é: ", getFormacao(perfilFormacaoDF.values))

O perfil de formação predominante na équipe é:  Graduação em andamento

In [13]:
perfilFormacaoGeralDF = df.loc[:]["Formação Geral"].mode()
print("A equipe é formada maioritariamente por alunos da área de", getFormacaoGeral(perfilFormacaoGeralDF.values))

A equipe é formada maioritariamente por alunos da área de Engenharia

### Tratamento de Dados da Formação especifica

O campo de formação expecifica, se preenchido pelo usuario, pode gerar diversas inconsitencias. Duas possiveis soluções são: ter um banco de dados com os nomes de cada formação especifica possivel, e fazer o usuario selecionar uma delas, contudo pode gerar o problema das opções disponiveis não conteplarem a formação do usuario, uma possivel solução é caso o usuario não encontre sua formação especifica é pela interação com o usuario adicionar uma nova formação

In [14]:

formações = ['engenharia elétrica','engenharia química','engenharia mecanica','ciencia da computação']
for i,formacao in enumerate(formações):
    print(str(i)+" - "+str(formacao))
print("digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)")
print()
try:
    indice = int(input())
except:
    print("valor invalido")

formacao = None

if indice>-1 and indice<len(formações):
    if indice!=1:
        formacao = formações[indice]
    else:
        print("digite o nome da nova formação")
        novaFormação = input().lower()
        formacao = novaFormação
        formações.append(novaFormação)
else:
    print("valor invalido")

print("formacao = ",formacao)

0 - engenharia elétrica
1 - engenharia química
2 - engenharia mecanica
3 - ciencia da computação
digite o indice que corresponde a sua formação (caso não esteja disponivel digite -1)

Contudo, caso o banco de dados já esteja populado podemos seguir a seguinte idéia:

Para padrônizar os valores da formação específica, podemos gerar uma lista com as palavras que são frequentemente simplificadas pelo usuário e filtrar os dados atravez da lista, verificando se existe alguma entrada semelhante. 

Comumente as palavras simplificadas são seguidas de espaço ou ponto, então para obter apenas a string desejada podemos remover esses caracteres.
Após remover os caracteres indesejados e filtrar as entradas, a idéia é substituir as simplificações com as palavras originais, após isso unir as palavras resultantes do processo. Como no exemplo abaixo:

In [14]:
dados = ["Eng. Ambiental", "Eng Prod", "eng.prod.", "Eng elét"]
nomes = ["Engenharia", "Produção", "Elétrica", "Mecânica", "Civíl", "Computação", "Ciência", "Análise", "Sistemas"]
newDados = []
for i in dados:
    curso = i

    if(i.find(".") >= 0 ):
        curso = i.split(".")
    elif(i.find(" ") >= 0):
        curso = i.split(" ")

    palavra = [a for a in nomes if curso[0].capitalize() in a]
    if(len(palavra)>0):
        curso[0] = palavra[0]
    palavra = [a for a in nomes if curso[-1].capitalize() in a]
    if(len(palavra)>0):
        curso[-1] = palavra[0]
    
    curso = " ".join(curso)
    newDados.append(curso)
print(newDados)

['Engenharia  Ambiental', 'Engenharia Produção', 'Engenharia prod Engenharia', 'Engenharia Elétrica']

# Exercício 4: Trabalhando com MultiIndex

In [22]:
tic18Py = [["tic18Py","06799",24,3,1,"Ciência da Computação",None,1,True],
           ["tic18Py","07100",23,2,0,"Engenharia Elétrica",90.16,None,True],
           ["tic18Py","05996",27,1,0,"Engenharia Química",81.38,None,True],
           ["tic18Py","07799",24,1,0,"Engenharia Química",76.94,None,True],
           ["tic18Py","08099",24,1,0,"Engenharia Química",75.58,None,True]]

tic18Net = [["tic18Net","08200",23,1,1,"Ciência da Computação",66.00,None,True],
            ["tic18Net","86001",22,1,1,"Ciência da Computação",66.00,None,True],
            ["tic18Net","05999",24,2,0,"Engenharia Elétrica",99.00,None,True]]

tic18Jav = [["tic18Jav","06894",29,2,1,"Análise e Desenvolvimento de Sistemas",78.00,None,False],
            ["tic18Jav","06200",23,2,0,"Engenharia Elétrica",72.00,None,False],
            ["tic18Jav","86399",24,2,0,"Engenharia Química",70.16,None,False],
            ["tic18Jav","05594",29,3,0,"Engenharia Mecânica",None,4,False],
            ["tic18Jav","05800",23,2,0,"Engenharia Química",80.00,None,False]]

colunas = ['trilha','identificacao','idade','formacao','formacaoGeral','formacaoEspecifica','andamentoGraduacao','tempoFormacao','experienciaProgramacao']

In [23]:
df = pd.DataFrame(tic18Py+tic18Net+tic18Jav,columns=colunas)
df.set_index(colunas[0:2],inplace=True)
df

                        idade  formacao  formacaoGeral  \
trilha   identificacao
tic18Py  06799             24         3              1
         07100             23         2              0
         05996             27         1              0
         07799             24         1              0
         08099             24         1              0
tic18Net 08200             23         1              1
         86001             22         1              1
         05999             24         2              0
tic18Jav 06894             29         2              1
         06200             23         2              0
         86399             24         2              0
         05594             29         3              0
         05800             23         2              0

                                           formacaoEspecifica  \
trilha   identificacao
tic18Py  06799                          Ciência da Computação
         07100                            Engenharia Elétrica
         05996                             Engenharia Química
         07799                             Engenharia Química
         08099                             Engenharia Química
tic18Net 08200                          Ciência da Computação
         86001                          Ciência da Computação
         05999                            Engenharia Elétrica
tic18Jav 06894          Análise e Desenvolvimento de Sistemas
         06200                            Engenharia Elétrica
         86399                             Engenharia Química
         05594                            Engenharia Mecânica
         05800                             Engenharia Química

                        andamentoGraduacao  tempoFormacao  \
trilha   identificacao
tic18Py  06799                         NaN            1.0
         07100                       90.16            NaN
         05996                       81.38            NaN
         07799                       76.94            NaN
         08099                       75.58            NaN
tic18Net 08200                       66.00            NaN
         86001                       66.00            NaN
         05999                       99.00            NaN
tic18Jav 06894                       78.00            NaN
         06200                       72.00            NaN
         86399                       70.16            NaN
         05594                         NaN            4.0
         05800                       80.00            NaN

                        experienciaProgramacao
trilha   identificacao
tic18Py  06799                            True
         07100                            True
         05996                            True
         07799                            True
         08099                            True
tic18Net 08200                            True
         86001                            True
         05999                            True
tic18Jav 06894                           False
         06200                           False
         86399                           False
         05594                           False
         05800                           False

In [29]:
idadeMediaMIDF = df.loc[:]["idade"].mean()
print("A idade média dos alunos é: ", idadeMediaMIDF)
idadeMaxMIDF = df.loc[:]["idade"].max()
idadeIndexMaxMIDF = df.loc[:]["idade"].idxmax()
print("O membro mais velho é: ", idadeIndexMaxMIDF[0]+idadeIndexMaxMIDF[1] + ". E possui: ", str(idadeMaxMIDF), " anos")
idadeMinMIDF = df.loc[:]["idade"].min()
idadeIndexMinMIDF = df.loc[:]["idade"].idxmin()
print("O membro mais novo é: ", idadeIndexMinMIDF[0]+idadeIndexMaxMIDF[1] + ". E possui: ", str(idadeMinMIDF), " anos")

A idade média dos alunos é:  24.53846153846154
O membro mais velho é:  tic18Jav06894. E possui:  29  anos
O membro mais novo é:  tic18Net06894. E possui:  22  anos

In [30]:
perfilFormacaoMIDF = df.loc[:]["formacao"].mode()
print("O perfil de formação predominante dos alunos é: ", getFormacao(perfilFormacaoMIDF.values))
perfilFormacaoMIDFPY = df.loc["tic18Py"]["formacao"].mode()
perfilFormacaoMIDFJA = df.loc["tic18Jav"]["formacao"].mode()
perfilFormacaoMIDFDN = df.loc["tic18Net"]["formacao"].mode()
print("O perfil de formação predominante dos alunos de Python é: ", getFormacao(perfilFormacaoMIDFPY.values))
print("O perfil de formação predominante dos alunos de Java é: ", getFormacao(perfilFormacaoMIDFJA.values))
print("O perfil de formação predominante dos alunos de .Net é: ", getFormacao(perfilFormacaoMIDFDN.values))

O perfil de formação predominante dos alunos é:  Graduação em andamento
O perfil de formação predominante dos alunos de Python é:  Formação técnica graduação em andamento
O perfil de formação predominante dos alunos de Java é:  Graduação em andamento
O perfil de formação predominante dos alunos de .Net é:  Formação técnica graduação em andamento

In [32]:
perfilFormacaoGeralMIDF = df.loc[:]["formacaoGeral"].mode()
print("O conjunto é formada maioritariamente por alunos da área de", getFormacaoGeral(perfilFormacaoGeralMIDF.values))
perfilFormacaoGeralMIDFPY = df.loc["tic18Py"]["formacaoGeral"].mode()
perfilFormacaoGeralMIDFJA = df.loc["tic18Jav"]["formacaoGeral"].mode()
perfilFormacaoGeralMIDFDN = df.loc["tic18Net"]["formacaoGeral"].mode()
print("Os estudantes de Python são maioritariamente alunos da área de", getFormacaoGeral(perfilFormacaoGeralMIDFPY.values))
print("Os estudantes de Java são maioritariamente alunos da área de", getFormacaoGeral(perfilFormacaoGeralMIDFJA.values))
print("Os estudantes de .Net são maioritariamente alunos da área de", getFormacaoGeral(perfilFormacaoGeralMIDFDN.values))

O conjunto é formada maioritariamente por alunos da área de Engenharia
Os estudantes de Python são maioritariamente alunos da área de Engenharia
Os estudantes de Java são maioritariamente alunos da área de Engenharia
Os estudantes de .Net são maioritariamente alunos da área de Computação