In [1]:
import pandas as pd
import numpy as np 
print(pd.__version__ )
print(np.__version__ )

2.0.3
1.24.3

**Exercício 1**

Criando conjuntos de dados para analizar, em ordem alfabetica do grupo.

In [2]:
identificador = ["tic18Py06799","tic18Py07100","tic18Py08099","tic18Py07799","tic18Py05996"]
idade = [24,23,24,24,27]
formacao = [3,2,2,2,1]
formacaoGeral = [1,0,0,0,0]
formacaoEspecifica =["Ciência da Computação", "Engenharia Elétrica", "Engenharia Química", "Engenharia Química", "Engenharia Química"]
andamentoGraduacao = [None,90.16,75.58,76.94,81.38]
tempoFormacao = [1,None,None,None,None]
experienciaPrevia = [True,True,True,True,True]

**Exercício 2**

Criando objeto Index a partir da lista anterior.

In [3]:
index = pd.Index(identificador)
idades = pd.Series(idade,index=index)
formacoes = pd.Series(formacao,index=index)
formacoesGerais = pd.Series(formacaoGeral,index=index)
formacoesEspecificas = pd.Series(formacaoEspecifica,index=index)
andamentoGraduacoes = pd.Series(andamentoGraduacao,index=index)
tempoFormacoes = pd.Series(tempoFormacao,index=index)
experienciaPrevias = pd.Series(experienciaPrevia,index=index)

Determinando Idade Média da equipe.

In [4]:
print("Idade Média da Equipe é =",idades.mean())
idadeMin = idades.idxmin()
idadeMax = idades.idxmax()
print("Idade minima = ",idades[idadeMin], "o membro mais novo da equipe é: ", idadeMin)
print("Idade máxima = ",idades[idadeMax], "o membro mais velho da equipe é: ", idadeMax)

Idade Média da Equipe é = 24.4
Idade minima =  23 o membro mais novo da equipe é:  tic18Py07100
Idade máxima =  27 o membro mais velho da equipe é:  tic18Py05996

Perfil de formação, predominante técnico, graduando ou graduados.

In [5]:
cont = formacoes.value_counts()
tecnicos = cont.get(0,0)+cont.get(1,0)
graduandos = cont.get(1,0)+cont.get(2,0)
graduados = cont.get(3,0)
print("Técnicos =", tecnicos)
print("Graduandos =", graduandos)
print("Graduados =", graduados)
print("Logo, o perfil predominante da equipe é graduandos.")

Técnicos = 1
Graduandos = 4
Graduados = 1
Logo, o perfil predominante da equipe é graduandos.

Formação marjoritária.

In [6]:
cont = formacoesGerais.value_counts()
computacao = cont.get(1,0)
engenharia = cont.get(0,0)
print("Em computação tem = ", computacao)
print("Em engenharia tem = ", engenharia)

Em computação tem =  1
Em engenharia tem =  4

**Exercício 3**

Criando DataFrame

In [7]:
dados = {'Idade' :idade, 'Formação' :formacao, 
         'Formação Geral':formacaoGeral, 'Formação Específica':formacaoEspecifica, 
         'Andamento da Graduação':andamentoGraduacao, 'Experiência com Progamação':experienciaPrevia}
df = pd.DataFrame(dados,index=identificador)
df

,Idade,Formação,Formação Geral,Formação Específica,Andamento da Graduação,Experiência com Progamação
tic18Py06799,24,3,1,Ciência da Computação,NaN,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.16,True
tic18Py08099,24,2,0,Engenharia Química,75.58,True
tic18Py07799,24,2,0,Engenharia Química,76.94,True
tic18Py05996,27,1,0,Engenharia Química,81.38,True

Estratégia para tratar os dados na coluna Formação Específica.

In [8]:
dados = {'Idade' :idade, 'Formação' :formacao, 
         'Formação Geral':formacaoGeral, 'Formação Específica':formacaoEspecifica, 
         'Andamento da Graduação':andamentoGraduacao, 'Experiência com Progamação':experienciaPrevia}
df = pd.DataFrame(dados, index=identificador)

outraCategoria = {'Ciência da Computação': 'Computação', 'Engenharia Elétrica': 'Engenharia', 'Engenharia Química': 'Engenharia'}

df['Formação Específica'] = df['Formação Específica'].replace(outraCategoria)

df

,Idade,Formação,Formação Geral,Formação Específica,Andamento da Graduação,Experiência com Progamação
tic18Py06799,24,3,1,Computação,NaN,True
tic18Py07100,23,2,0,Engenharia,90.16,True
tic18Py08099,24,2,0,Engenharia,75.58,True
tic18Py07799,24,2,0,Engenharia,76.94,True
tic18Py05996,27,1,0,Engenharia,81.38,True

In [9]:
print("idade media =",df.loc[:,'Idade'].mean())
idadeMin = df.loc[:,'Idade'].idxmin()
idadeMax = df.loc[:,'Idade'].idxmax()
print("idade minima = ",df.loc[idadeMin,'Idade'], "o membro mais novo da equipe é: ", idadeMin)
print("idade maxima = ",df.loc[idadeMax,'Idade'], "o membro mais velho da equipe é: ", idadeMax)

idade media = 24.4
idade minima =  23 o membro mais novo da equipe é:  tic18Py07100
idade maxima =  27 o membro mais velho da equipe é:  tic18Py05996

In [10]:
cont = df.loc[:,'Formação'].value_counts()
tecnicos = cont.get(0,0)+cont.get(1,0)
graduandos = cont.get(1,0)+cont.get(2,0)
graduados = cont.get(3,0)
print("Técnicos =", tecnicos)
print("Graduandos =", graduandos)
print("Graduados =", graduados)
print("Logo, o perfil predominante da equipe é graduandos.")

Técnicos = 1
Graduandos = 4
Graduados = 1
Logo, o perfil predominante da equipe é graduandos.

In [11]:
cont = df.loc[:,'Formação Geral'].value_counts()
computacao = cont.get(1,0)
engenharia = cont.get(0,0)
print("Em computação tem = ", computacao)
print("Em engenharia tem = ", engenharia)

Em computação tem =  1
Em engenharia tem =  4

**Exercício 4**

Nova dimensão dos dados considerando cada trilha Python, .Net e Java.

In [31]:
tic18Py = [["06799","tic18Py",24,3,1,"Ciência da Computação",None,1,True],
           ["07100","tic18Py",23,2,0,"Engenharia Elétrica",90.16,None,True],
           ["05996","tic18Py",27,1,0,"Engenharia Química",81.38,None,True],
           ["07799","tic18Py",24,1,0,"Engenharia Química",76.94,None,True],
           ["08099","tic18Py",24,1,0,"Engenharia Química",75.58,None,True]]

tic18Net = [["08200","tic18Net",23,1,1,"Ciência da Computação",66.00,None,True],
            ["86001","tic18Net",22,1,1,"Ciência da Computação",66.00,None,True],
            ["05999","tic18Net",24,2,0,"Engenharia Elétrica",99.00,None,True]]

tic18Jav = [["06894","tic18Jav",29,2,1,"Ciência da Computação",78.00,None,False],
            ["06200","tic18Jav",23,2,0,"Engenharia Elétrica",72.00,None,False],
            ["86399","tic18Jav",24,2,0,"Engenharia Química",70.16,None,False],
            ["05594","tic18Jav",29,3,0,"Engenharia Mecânica",None,4,False],
            ["05800","tic18Jav",23,2,0,"Engenharia Química",80.00,None,False]]

colunas = ['Identificação','Trilha','Idade','Formação','Formação Geral','Formação Específica','Andamento Graduação','Tempo Formação','Experiência em Programacao']

In [32]:
df = pd.DataFrame(tic18Py+tic18Net+tic18Jav,columns=colunas)
df.set_index(colunas[0:2],inplace=True)
df

,,Idade,Formação,Formação Geral,Formação Específica,Andamento Graduação,Tempo Formação,Experiência em Programacao
Identificação,Trilha,,,,,,,
06799,tic18Py,24,3,1,Ciência da Computação,NaN,1.0,True
07100,tic18Py,23,2,0,Engenharia Elétrica,90.16,NaN,True
05996,tic18Py,27,1,0,Engenharia Química,81.38,NaN,True
07799,tic18Py,24,1,0,Engenharia Química,76.94,NaN,True
08099,tic18Py,24,1,0,Engenharia Química,75.58,NaN,True
08200,tic18Net,23,1,1,Ciência da Computação,66.00,NaN,True
86001,tic18Net,22,1,1,Ciência da Computação,66.00,NaN,True
05999,tic18Net,24,2,0,Engenharia Elétrica,99.00,NaN,True
06894,tic18Jav,29,2,1,Ciência da Computação,78.00,NaN,False
06200,tic18Jav,23,2,0,Engenharia Elétrica,72.00,NaN,False
86399,tic18Jav,24,2,0,Engenharia Química,70.16,NaN,False
05594,tic18Jav,29,3,0,Engenharia Mecânica,NaN,4.0,False
05800,tic18Jav,23,2,0,Engenharia Química,80.00,NaN,False

Coletado dados por trilha

**PYTHON**

In [33]:
print("Idade Média da trilha =",df.loc[pd.IndexSlice[:, 'tic18Py'], 'Idade'].mean())
idadeMin = df.loc[pd.IndexSlice[:, 'tic18Py'], 'Idade'].idxmin()
idadeMax = df.loc[pd.IndexSlice[:, 'tic18Py'], 'Idade'].idxmax()
print("Idade Mínima = ",df.loc[idadeMin,'Idade'], "o membro mais novo da trilha Python é:", idadeMin[0])
print("Idade Máxima = ",df.loc[idadeMax,'Idade'], "o membro mais velho da trilha Python é", idadeMax[0])

Idade Média da trilha = 24.4
Idade Mínima =  23 o membro mais novo da trilha Python é: 07100
Idade Máxima =  27 o membro mais velho da trilha Python é 05996

In [34]:
cont = df.loc[pd.IndexSlice[:,'tic18Py'], 'Formação'].value_counts()
tecnicos = cont.get(0,0)+cont.get(1,0)
graduandos = cont.get(1,0)+cont.get(2,0)
graduados = cont.get(3,0)
print("Técnicos =", tecnicos)
print("Graduandos =", graduandos)
print("Graduados =", graduados)

Técnicos = 3
Graduandos = 4
Graduados = 1

In [35]:
cont = df.loc[pd.IndexSlice[:,'tic18Py'], 'Formação Geral'].value_counts()
computacao = cont.get(1,0)
engenharia = cont.get(0,0)
print("Em computação tem = ", computacao)
print("Em engenharia tem = ", engenharia)

Em computação tem =  1
Em engenharia tem =  4

**.NET**

In [36]:
print("Idade Média da trilha =",df.loc[pd.IndexSlice[:, 'tic18Net'], 'Idade'].mean())
idadeMin = df.loc[pd.IndexSlice[:, 'tic18Net'], 'Idade'].idxmin()
idadeMax = df.loc[pd.IndexSlice[:, 'tic18Net'], 'Idade'].idxmax()
print("Idade Mínima = ",df.loc[idadeMin,'Idade'], "o membro mais novo da trilha python é:", idadeMin[0])
print("Idade Máxima = ",df.loc[idadeMax,'Idade'], "o membro mais velho da trilha python é", idadeMax[0])

Idade Média da trilha = 23.0
Idade Mínima =  22 o membro mais novo da trilha python é: 86001
Idade Máxima =  24 o membro mais velho da trilha python é 05999

In [37]:
cont = df.loc[pd.IndexSlice[:,'tic18Net'], 'Formação'].value_counts()
tecnicos = cont.get(0,0)+cont.get(1,0)
graduandos = cont.get(1,0)+cont.get(2,0)
graduados = cont.get(3,0)
print("Técnicos =", tecnicos)
print("Graduandos =", graduandos)
print("Graduados =", graduados)

Técnicos = 2
Graduandos = 3
Graduados = 0

In [38]:
cont = df.loc[pd.IndexSlice[:,'tic18Net'], 'Formação Geral'].value_counts()
computacao = cont.get(1,0)
engenharia = cont.get(0,0)
print("Em computação tem = ", computacao)
print("Em engenharia tem = ", engenharia)

Em computação tem =  2
Em engenharia tem =  1

**JAVA**

In [39]:
print("Idade Média da trilha =",df.loc[pd.IndexSlice[:, 'tic18Jav'], 'Idade'].mean())
idadeMin = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'Idade'].idxmin()
idadeMax = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'Idade'].idxmax()
print("Idade Mínima = ",df.loc[idadeMin,'Idade'], "o membro mais novo da trilha Java é:", idadeMin[0])
print("Idade Máxima = ",df.loc[idadeMax,'Idade'], "o membro mais velho da trilha Java é", idadeMax[0])

Idade Média da trilha = 25.6
Idade Mínima =  23 o membro mais novo da trilha Java é: 06200
Idade Máxima =  29 o membro mais velho da trilha Java é 06894

In [40]:
cont = df.loc[pd.IndexSlice[:,'tic18Jav'], 'Formação'].value_counts()
tecnicos = cont.get(0,0)+cont.get(1,0)
graduandos = cont.get(1,0)+cont.get(2,0)
graduados = cont.get(3,0)
print("Técnicos =", tecnicos)
print("Graduandos =", graduandos)
print("Graduados =", graduados)

Técnicos = 0
Graduandos = 4
Graduados = 1

In [41]:
cont = df.loc[pd.IndexSlice[:, 'tic18Jav'], 'Formação Geral'].value_counts()
computacao = cont.get(1,0)
engenharia = cont.get(0,0)
print("Em computação tem = ", computacao)
print("Em engenharia tem = ", engenharia)

Em computação tem =  1
Em engenharia tem =  4