<img align="center" style="padding-right:10px;" src="Figuras/IP-01-fig_01.png">

# INSTRUÇÃO PRÁTICA - IP-P010
## PP - PROGRAMAÇÃO EM PYTHON
### OBJETIVOS DA ATIVIDADE

Revisar e consolidar o conteúdo de __Pandas__ e visualização de dados avançado.

__Exercício 1: Gerando o DataFrame__

* No link do [Faker](https://faker.readthedocs.io/en/master/#) está disponível a documentação deste pacote que permite gerar dados falsos. Para instalação do pacote basta fazer um

In [2]:
from faker import Faker

import pandas as pd
import numpy as np

fk = Faker("pt-BR")

In [3]:
n = 1000

In [4]:
import random

listaCPF = []
listaNome = []
listaEmail = []
listaSexo = []
listaIdade = []
listaNotasEnem = []
listaAbandono = []
listaSemestreAbandono = []
listaCRA2Semestre = []
listaCRA4Semestre = []
listaCRA6Semestre = []

for i in range(n):
    listaCPF.append(fk.cpf())

    listaEmail.append(fk.email())

    listaSexo.append(random.choice(["masculino","feminino"]))

    if listaSexo[i] == "masculino":
        listaNome.append(fk.name_male())
    else:
        listaNome.append(fk.name_female())

    listaIdade.append(random.randint(18,29))

    listaNotasEnem.append(random.uniform(640,800))

    listaAbandono.append(random.choice([True,False]))

    if listaAbandono[i]:
        listaSemestreAbandono.append(random.randint(1,9))
    else:
        listaSemestreAbandono.append(np.nan)

    if listaAbandono[i] or listaSemestreAbandono[i]<7:
        if listaSemestreAbandono[i] < 6:
            listaCRA6Semestre.append(np.nan)
        else:
            listaCRA6Semestre.append(random.uniform(5,10))
        if listaSemestreAbandono[i]<5:
            listaCRA4Semestre.append(np.nan)
        else:
            listaCRA4Semestre.append(random.uniform(5,10))
        if listaSemestreAbandono[i]<3:
            listaCRA2Semestre.append(np.nan)
        else:
            listaCRA2Semestre.append(random.uniform(5,10))
        

    else:
        listaCRA2Semestre.append(random.uniform(5,10))
        listaCRA4Semestre.append(random.uniform(5,10))
        listaCRA6Semestre.append(random.uniform(5,10))

    


df = pd.DataFrame({"nome":listaNome,
                    "cpf":listaCPF,
                    "email":listaEmail,
                    "sexo":listaSexo,
                    "idade":listaIdade,
                    "nota ENEM":listaNotasEnem,
                    "Abandono":listaAbandono,
                    "semestre do abandono":listaSemestreAbandono,
                    "CRA 2o semestre": listaCRA2Semestre,
                    "CRA 4o semestre": listaCRA4Semestre,
                    "CRA 6o semestre": listaCRA6Semestre})

df

,nome,cpf,email,sexo,idade,nota ENEM,Abandono,semestre do abandono,CRA 2o semestre,CRA 4o semestre,CRA 6o semestre
0,Ana Luiza Pinto,602.491.857-76,ramoshelena@example.net,feminino,19,762.826462,False,NaN,6.060160,6.124695,9.966639
1,Luiz Gustavo Viana,730.541.289-97,qrezende@example.org,masculino,24,689.586908,False,NaN,5.048044,6.948846,5.828311
2,Vicente Ribeiro,108.467.523-44,pereiraelisa@example.net,masculino,24,791.787458,True,7.0,6.078028,5.761775,8.641340
3,Sofia Rodrigues,506.839.471-84,beniciogoncalves@example.net,feminino,25,732.938790,True,7.0,8.806693,8.563480,8.425148
4,Dra. Eduarda da Cruz,267.814.950-11,isis08@example.org,feminino,28,686.515480,True,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,Vitor Gabriel Lima,472.615.390-07,yda-rocha@example.org,masculino,22,729.710302,True,5.0,9.757581,8.659783,NaN
996,Srta. Pietra das Neves,146.938.725-55,aragaomaite@example.net,feminino,22,740.058054,True,4.0,6.810707,NaN,NaN
997,Gustavo Nunes,517.842.960-58,daniela19@example.net,masculino,26,709.377425,True,1.0,NaN,NaN,NaN
998,Maria Luiza Ferreira,641.793.852-28,marianecostela@example.org,feminino,22,669.961395,True,1.0,NaN,NaN,NaN
999,Marina Pires,076.935.218-95,peixotoana@example.org,feminino,19,652.942388,False,NaN,9.937636,9.452201,5.173505

In [5]:
df.to_csv("/home/gabriel-dos-sousa/Área de trabalho/Python_Basico/Gabriel/P010/listaFakerP010.csv",index=False)

Desta forma fica disponível o script ``faker`` e o módulo para geração de dados falsos.

Utilizando este módulo, fere um data frame contendo as seguintes colunas

- CPF;
- Nme;
- Idade (entre 18 e 28);
- Sexo;
- Endereço de email;
- Nota no ENEM (entre 640 e 800)
- Abandono (True o False)
- Qual semestre (entre 1 e 8, se Abandono for True)
- CRA após o segundo semestre (float entre 5 e 10)
- CRA após o quarto semestre (float entre 5 e 10)
- CRA após o Sexto semestre (float entre 5 e 10)

Com o DataFrame criado, guarde os dados num arquivo ``csv``e envie para um colega.

Carregue os dados gerados pelo seu colega do arquivo ``csv`` e, com os dados do DataFrame

1. Identifique qual q relação de alunos de sexo masculino e feminino no conjunto.
2. Dado que os alunos tem idade entre 18 e 28 anos, mostre qual a média da nota do ENEM dos alunos agrupados por idade.
3. Normalize as notas do ENEM de todos os alunos para um valor entre 5 e 10.
4. Faça um gráfico de evolução das notas, desde o ENEM até CRA do sexto semestre para os 10 alunos com melhor CRA no sexto semestre. Utilize a nota do ENEM normalizada. coloque no gráfico círculos se o aluno for de sexo feminino e quadrados se for masculino.